/*  */

:root { --principal: rgb(255, 180, 0);}

/* Estilos Generales */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
    background-color: #222;
    color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: var(--principal);
}

li{
    margin-bottom: 0.3em;
}

h1{
    font-size: 2.8em;
    font-family: 
}

h2{
    font-size: 2.2em;
}

h3{
    font-size: 1.7em;
}

/* -------- Estilos por bloques -------- */

/* HEADER */

header a{
    margin-left:0.5em;
    margin-right:0.5em;
}


/* REPERTORIO */



.repertorio a{
    margin-left: 8px;
}

.repertorio em{
    margin-left: 8px;
    color: #999;
}

